.title {
background-image: url('https://kremalicious.com/media/parallax_009.jpg');
  width: 100%;
  text-align: center;
  color: red;
   padding-top: 50px;
   padding-right: 30px;
   padding-bottom: 50px;
   padding-left: 80px;
}

