.title {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  font-family: 'Bungee Shade', cursive;
}

.scoreSummary{
  width: 100%;
  text-align: center;
  margin-bottom: 10px; 
  font-family: 'Faster One', cursive; 
}

.scoreMessage {
  font-family: 'Bungee Inline', cursive;
  margin-top: 20px;
  margin-bottom: 20px;
  color: red;
}

.image-container {
	
	width: 100%;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
  	background: #ECEFF1;
  	display: flex;
  	flex-flow: row wrap;
 	text-align: center;
  	justify-content: space-around;
 	 align-content: flex-start;
  	overflow: auto;
  	padding-bottom: 50px;
}

